/* --NAVBAR-- */

.main {
	position: relative;
	width: 98%;
}

.mobile{
	display: none;
}

#home {
	font-size: 56px;
	margin: -13px 0px 0px 25px;
	height: 100%;
	padding: 5px;
	left: 100px;
	color: #808080;
	text-shadow: 1px 2px 2px grey;

}

#home:hover {
	color: white;
}

.navbar-default {
	margin: 0px 10px 10px 10px;
	width: 100%;
	
}

.nav a {
	font-family:  'Inconsolata', normal;
	font-size: 28px;
	padding: 25px;
}

.navbar-default .navbar-collapse {
	height:;
}

.navbar .container-fluid {
	margin: 20px 0px 5px 0px;
	padding: 0px;
}

.navbar-right{
	padding: 0px 25px 0px 0px;
	margin: -5px 0px 0px -15px;
}

.dropdown-menu li a{
	color: white;
	text shadow: 0px 0px 0px;
}

.dropdown:hover .dropdown-menu{
        display: block; /* display the dropdown */
}

.navbar-inverse .navbar-nav>li>a {
	margin: 0px 0px 0px 10px;
	line-height: 30px;
}

.navbar-nav>li>.dropdown-menu {
	margin: 0px 0px 0px 14px;
}

/* --CONTENT-- */


h1 {
	text-align: center;
	padding: 10px;
	font-family:'Inconsolata', normal;
	border-bottom: 2px solid;
	width: 100%;
}

h2{
	font-size: 24px;
	text-align: center;
	padding: 10px;
	font-family:'Inconsolata', normal;
	border-bottom:;
	width: 100%;
}

h3{
	text-align: left;
	padding: 10px;
	font-family:'Inconsolata', normal;
	width: 100%;
	margin: auto;
}

.container {
	margin: auto;
	margin-top: 55px;
	z-index: 1;
}

.container .row{
	border-bottom: 1px solid black;
}

#rowcolor{
	background-color: lightgrey;
}

/* --FOOTER-- */

#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	font-size: 14px;
	color: #777;
	background-color: white;
}

#footer a{
	text-decoration: none;
	color: inherit;
}

#footer .col-xs-6{
	text-align: center;
}

/* --UTILITY-- */

#space {
	height: 100px;
	clear: both;
}

/* --SCREEN ADJUST-- */

@media (max-width: 825px), handheld and (orientation: portrait) {

	html {
		min-width: 575px;
	}

	.mobile {
		position: relative;
		width: 95%;
		display: none;
	}

	.main {
		display: inline-block;
		position: relative;
		width: 95%;
	}

	.navbar-inverse .navbar-brand{
		text-align: center;
	}

	.nav>li {
		display: inline-block;
	}

	.navbar-inverse .navbar-nav>li>a {
		text-align: left;
		font-size: 18px;
		display: inline;
	}
	


	.dropdown:hover .dropdown-menu{
        	display: none;
	}
}
