/* --NAVBAR-- */

.main {
	position: relative;
}

#home {
	font-size: 56px;
	margin: -13px 0px 0px 0px;
	height: 100%;
	padding: 5px;
	left: 100px;
	color: #808080;
	text-shadow: 1px 2px 2px grey;

}

#home:hover {
	color: white;
}

.navbar-default {
	margin: 0px 10px 10px 10px;
}

.nav a {
	font-family:  'Inconsolata', normal;
	font-size: 28px;
	padding: 0px 0px 0px 0px;
}

.navbar-default .navbar-collapse {
	height:;
}

.navbar .container-fluid {
	margin: 20px 0px 5px 0px;
}

.navbar-right{
	padding: 0px 25px 0px 0px;
	margin: -5px 0px 0px 0px;
}

.dropdown-menu li a{
	color: white;
	text shadow: 0px 0px 0px;
}

.dropdown:hover .dropdown-menu{
        display: block; /* display the dropdown */
}

/* --CONTENT-- */

body{
	background: url("https://s3.amazonaws.com/iantyger.com/Images/Newport+Skyline") no-repeat bottom center;
	background-size: cover;
	height: 1024px;
	width: 100%;
}

#front-top {
	color: ;
	margin: auto;
	margin-top: 150px;
	width: 100%;
	text-align: center;
	font-family: 'Inconsolata', normal;
	font-size: 36px;
	padding: 10px;
	text-shadow: 1px 2px 3px white;
}

#front-mid {
	margin: auto;
	width: 100%;
	text-align: center;
	font-size: 108px;
	padding: 10px;
	text-shadow: 1px 2px 3px grey, 2px 3px 4px silver, 3px 4px 5px black;
}

#front-mid i:hover {
	color: #adadad;
}

#front-mid a {
	color: #101010;
}

/* --FOOTER-- */

#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	font-size: 14px;
	color: #777;
	background-color: white;
}

#footer a{
	text-decoration: none;
	color: inherit;
}

#footer .col-xs-6{
	text-align: center;
}

/* --UTILITY-- */

#space {
	height: 100px;
}
