/* --NAVBAR-- */

.main {
	position: relative;
	width: 98%;
}

.mobile{
	display: none;
}

#home {
	font-size: 56px;
	margin: -13px 0px 0px 25px;
	height: 100%;
	padding: 5px;
	left: 100px;
	color: #808080;
	text-shadow: 1px 2px 2px grey;

}

#home:hover {
	color: white;
}

.navbar-default {
	margin: 0px 10px 10px 10px;
	width: 100%;
	
}

.nav a {
	font-family:  'Inconsolata', normal;
	font-size: 28px;
	padding: 25px;
}

.navbar-default .navbar-collapse {
	height:;
}

.navbar .container-fluid {
	margin: 20px 0px 5px 0px;
	padding: 0px;
}

.navbar-right{
	padding: 0px 25px 0px 0px;
	margin: -5px 0px 0px -15px;
}

.dropdown-menu li a{
	color: white;
	text shadow: 0px 0px 0px;
}

.dropdown:hover .dropdown-menu{
        display: block; /* display the dropdown */
}

.navbar-inverse .navbar-nav>li>a {
	margin: 0px 0px 0px 10px;
	line-height: 30px;
}

.navbar-nav>li>.dropdown-menu {
	margin: 0px 0px 0px 14px;
}

/* --CONTENT-- */

h1 {
	text-align: center;
	padding: 10px;
	font-family:'Inconsolata', normal;
	border-bottom: 2px solid;
	width: 100%;
}

h2 {
	text-align: center;
	padding: 10px;
	font-family:'Inconsolata', normal;
	border-bottom: 2px solid;
	width: 100%;
}

p{
	font-size: 25px;
	text-align: left;
	padding: 10px;
	font-family:'Inconsolata', normal;
	border:;

}

.container-fluid .col-xs-4{
	margin: ;
	margin-top: 65px;
	background-color: ;
}

.container-fluid .col-xs-4 ul {
	background-color: ;
	margin: auto;
	text-align: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
	font-family:'Inconsolata', normal;
}

.container-fluid .col-xs-4 li {
	font-size: 22px;
	display: block;
	padding: 10px;
	border-bottom: 0px solid black;
	margin: auto;
}

.container-fluid .col-xs-4 a{
	text-decoration: none;
	color: #222;
	text-shadow: 
}

.container-fluid .col-xs-4 a:hover {
	text-shadow: 1px 2px 2px lightgrey;
}

.container-fluid .col-xs-4 .row {
	width: 100%;
}

/* --FOOTER-- */

#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	font-size: 14px;
	color: #777;
	background-color: white;
}

#footer a{
	text-decoration: none;
	color: inherit;
}

#footer .col-xs-6{
	text-align: center;
}

/* --UTILITY-- */

#space {
	height: 100px;
	clear: both;
}

/* --SCREEN ADJUST-- */

@media (max-width: 825px), handheld and (orientation: portrait) {

	html {
		min-width: 770px;
	}

	.main {
		display: inline-block;
		position: relative;
		width: 95%;
	}

	.nav>li {
		display: inline-block;
	}

	.navbar-inverse .navbar-nav>li>a {
		text-align: left;
		font-size: 24px;
		display: inline;
	}

}
